<%- include('../partials/header') %>

<main class="main" id="main">
<% if (data && data.length > 0 ) { %>
    <% data.forEach(actor => { %>
        <% if (actor && actor.actor_id) { %>
            <figure>
                <img src="/images/programActors/<%= actor.img_url %>" alt="image of <%= title %>">
                <figcaption>
                    <a href="/<%= endpoint %>/<%= actor.actor_id %>">
                        <%= actor.first_name %>
                        <%= actor.last_name %>
                    </a>
                </figcaption>
            </figure>
        <% } %>
    <% }) %>
<% } 
else 
{ %>
    <p>No actors found.</p>
<% } %>
</main>

<%- include('../partials/footer') %>
