<%- include('../partials/header') %>

<main class="main" id="main">
    <!-- <div class = "container"> -->
                    <% if (prev != null) 
                    { %>
                        <a href="?page=<%= prev %>">prev</a>
                    <% } %>
                    <% if (next != null)
                    { %>
                        <a href="?page=<%= next %>">next</a>
                    <% } %>
                <!-- <div class="row row-cols-1 row-cols-md g-4">                     -->
                <% data.forEach(program =>
                { %>
                    <figure>
                        <!-- this gets the poster link in the api -->
                        <img src="/images/christmasPrograms/<%= program.img_url %>" alt="poster for <%= program.title %>">
                        <!-- this gets the title in the api -->
                        <figcaption>
                            <!-- this adds a link to the movie's title, making it clickable -->
                            <a href="/<%= endpoint %>/<%= program.program_id %>">
                                <%= program.title %></a>
                            </figcaption>
                        </figure>
                    <% }) %>
                </div>
    </div>
</main>


<%- include('../partials/footer') %>