<%- include('../partials/header') %>

<main class="main" id="main">
                    <% if (prev != null) 
                    { %>
                        <a href="?page=<%= prev %>">prev</a>
                    <% } %>
                    <% if (next != null)
                    { %>
                        <a href="?page=<%= next %>">next</a>
                    <% } %>
                <% data.forEach(program =>
                { %>
                    <figure>
                        <!-- this gets the poster link in the api -->
                        <img src="/images/christmasPrograms/<%= program.img_url %>" alt="poster for <%= program.title %>">
                        <!-- this gets the title in the api -->
                        <figcaption>
                            <!-- this adds a link to the movie's title, making it clickable -->
                            <a href="/<%= endpoint %>/<%= program.program_id %>">
                                <%= program.title %></a>
                            </figcaption>
                        </figure>
                    <% }) %>
</main>


<%- include('../partials/footer') %>