<%- include('../partials/header') %>

<main class="main" id="main">
    <ul>
        <p>Actor Id: <%= data.actor_id %></p>
        <p>Actor's First Name: <%= data.first_name %></p>
        <p>Actor's Last Name: <%= data.last_name %></p>
    </ul>
<%- include('../partials/footer') %></main>