<%- include('../partials/header') %>

<main class="main" id="main">
    <ul>
        <p>Director Id: <%= data.director_id %></p>
        <p>Director's First Name: <%= data.first_name %></p>
        <p>Director's Last Name: <%= data.last_name %></p>
    </ul>
<%- include('../partials/footer') %></main>